<h2>Show user</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @user.name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Gender:</strong>
    <%= @user.gender %>
  </li>

  <li>
    <strong>Birthyear:</strong>
    <%= @user.birthyear %>
  </li>

  <li>
    <strong>Nickname:</strong>
    <%= @user.nickname %>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit, @user) %>
<%= link "Back", to: user_path(@conn, :index) %>
