# web/templates/layout/sign_in_sign_out.html.eex
<%= if Guardian.Plug.authenticated?(@conn) do %>
  <%= link "Sign out", to: session_path(@conn, :delete, :access),  
      method: :delete, class: "btn btn-danger" %><br>
  <%= Guardian.Plug.current_resource(@conn).email %>
<% else %>
  <%= link "Create new account", to: user_path(@conn, :new), 
      class: "btn btn-danger" %>
  <%= link "Sign in", to: session_path(@conn, :new), 
      class: "btn btn-danger" %>
<% end %>
